<template>
  <Carousel
    :value="data"
    :numVisible="1"
    :numScroll="1"
    orientation="vertical"
    :autoplayInterval="5000"
    :circular="true"
  >
    <template #header>
      <h2 class="text-center">{{ title }}</h2>
    </template>
    <template #item="slotProps">
      <div v-if="type === 0">
        <Card style="width: 30em">
          <template #title> {{ slotProps.data.name }} </template>
          <template #content>
            <ul>
              <li>
                <b>Periodo rotacional:</b> {{ slotProps.data.rotation_period }}
              </li>
              <li>
                <b>Periodo orbital:</b> {{ slotProps.data.orbital_period }}
              </li>
              <li><b>Diametro:</b> {{ slotProps.data.diameter }}</li>
              <li><b>Clima:</b> {{ slotProps.data.climate }}</li>
              <li><b>Gravedad:</b> {{ slotProps.data.gravity }}</li>
              <li><b>Tierra:</b> {{ slotProps.data.terrain }}</li>
            </ul>
          </template>
        </Card>
      </div>
      <div v-else-if="type === 1">
        <Card style="width: 30em">
          <template #title> {{ slotProps.data.name }} </template>
          <template #content>
            <ul>
              <li><b>Modelo:</b> {{ slotProps.data.model }}</li>
              <li><b>Manufactura:</b> {{ slotProps.data.manufacturer }}</li>
              <li><b>Consumables:</b> {{ slotProps.data.consumables }}</li>
              <li><b>Clase:</b> {{ slotProps.data.starship_class }}</li>
              <li><b>Tamaño:</b> {{ slotProps.data.length }}</li>
              <li><b>Pasajeros:</b> {{ slotProps.data.passengers }}</li>
            </ul>
          </template>
        </Card>
      </div>
      <div v-else>
        <Card style="width: 30em">
          <template #title> {{ slotProps.data.name }} </template>
          <template #content>
            <ul>
              <li><b>Color de cabello:</b> {{ slotProps.data.hair_color }}</li>
              <li><b>Color de piel:</b> {{ slotProps.data.skin_color }}</li>
              <li>
                <b>Fecha de nacimiento:</b> {{ slotProps.data.birth_year }}
              </li>
              <li><b>Genero:</b> {{ slotProps.data.gender }}</li>
              <li><b>Altura:</b> {{ slotProps.data.height }}</li>
              <li><b>Peso:</b> {{ slotProps.data.mass }}</li>
            </ul>
          </template>
        </Card>
      </div>
    </template>
  </Carousel>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    type: {
      type: Number,
      default: 0,
    },
    title: {
      type: String,
      default: "",
    },
  },
};
</script>
