<template>
  <div class="card">
    <div
      class="
        flex
        justify-content-around
        flex-wrap
        align-items-stretch align-self-auto
        mt-4
      "
    >
      <div class="flex justify-content-center">
        <Carrusel title="Planetas" :data="film.planets" :type="0" />
      </div>
      <div class="flex justify-content-center">
        <Carrusel title="Naves" :data="film.starships" :type="1" />
      </div>
      <div class="flex justify-content-center">
        <Carrusel title="Personajes" :data="film.characters" :type="2" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Carrusel from "@/components/film_detail/Carrusel";

export default {
  computed: {
    ...mapState(["film"]),
  },
  components: {
    Carrusel,
  },
  watch: {
    film: {
      handler() {},
      deep: true,
      immediate: true,
    },
  },
};
</script>