<template>
  <Card style="width: 25em">
    <template #title> {{ film.title }} </template>
    <template #subtitle> {{ film.release_date }} </template>
    <template #content>
      <ul>
        <li><b>Director:</b> {{ film.director }}</li>
        <li><b>Productor:</b> {{ film.producer }}</li>
      </ul>
      <p class="text-justify">
        {{ film.opening_crawl }}
      </p>
    </template>
    <template #footer>
      <Button
        icon="pi pi-info-circle"
        class="p-button-info"
        label="Mas info"
        @click="filmDetail(film.id)"
      />
    </template>
  </Card>
</template>

<script>
export default {
  props: {
    film: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    filmDetail(id) {
      this.$router.push({ name: "film_detail", params: { id } });
    },
  },
  watch: {
    film: {
      handler() {},
      deep: true,
      immediate: true,
    },
  },
};
</script>