<template>
  <Menubar :model="items">
    <template #start>
      <img
        alt="logo"
        src="@/assets/StarWarsLogo.png"
        height="60"
        class="mr-2"
      />
    </template>
  </Menubar>
</template>

<script>
export default {
  data() {
    return {
      titleFilm: "",
      items: [
        {
          label: "Home",
          icon: "pi pi-fw pi-home",
          to: "/",
        },
        {
          label: "Registro",
          icon: "pi pi-fw pi-user-plus",
          to: "/register",
        },
      ],
    };
  },
};
</script>
