<template>
  <div class="card m-4">
    <div class="grid formgrid">
      <div class="field col-12">
        <label
          :class="{
            'p-error': v$.registerForm.nombre.$invalid && submitted,
          }"
          >Nombre*</label
        >
        <div class="p-inputgroup mt-2">
          <span class="p-inputgroup-addon">
            <i class="pi pi-list"></i>
          </span>
          <InputText
            placeholder="Ingresa el nombre"
            :class="{
              'p-invalid': v$.registerForm.nombre.$invalid && submitted,
            }"
            v-model="v$.registerForm.nombre.$model"
          />
        </div>
        <small
          v-if="
            (v$.registerForm.nombre.$invalid && submitted) ||
            v$.registerForm.nombre.$pending.$response
          "
          class="p-error"
          >{{
            v$.registerForm.nombre.required.$message.replace("Value", "Nombre")
          }}</small
        >
      </div>
      <div class="field col-12">
        <label
          :class="{
            'p-error': v$.registerForm.apellido.$invalid && submitted,
          }"
          >Apellido*</label
        >
        <div class="p-inputgroup mt-2">
          <span class="p-inputgroup-addon">
            <i class="pi pi-list"></i>
          </span>
          <InputText
            placeholder="Ingresa el apellido"
            :class="{
              'p-invalid': v$.registerForm.apellido.$invalid && submitted,
            }"
            v-model="v$.registerForm.apellido.$model"
          />
        </div>
        <small
          v-if="
            (v$.registerForm.apellido.$invalid && submitted) ||
            v$.registerForm.apellido.$pending.$response
          "
          class="p-error"
          >{{
            v$.registerForm.apellido.required.$message.replace(
              "Value",
              "Apellido"
            )
          }}</small
        >
      </div>
      <div class="field col-12">
        <label
          :class="{
            'p-error': v$.registerForm.fechaNacimiento.$invalid && submitted,
          }"
          >Fecha nacimiento*</label
        >
        <br />
        <Calendar
          class="w-full"
          dateFormat="dd/mm/yy"
          v-model="v$.registerForm.fechaNacimiento.$model"
          :showIcon="true"
        />
        <br />
        <small
          v-if="
            (v$.registerForm.fechaNacimiento.$invalid && submitted) ||
            v$.registerForm.fechaNacimiento.$pending.$response
          "
          class="p-error"
          >{{
            v$.registerForm.fechaNacimiento.required.$message.replace(
              "Value",
              "Fecha nacimiento"
            )
          }}</small
        >
      </div>
    </div>
    <div class="flex justify-content-end flex-wrap">
      <div class="flex align-items-center">
        <Button
          label="Guardar"
          icon="pi pi-save"
          class="mt-4"
          @click="save(!v$.$invalid)"
        />
      </div>
    </div>
  </div>
</template>
  
  <script>
import { required } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

export default {
  setup: () => ({ v$: useVuelidate({ $scope: false }) }),
  validations() {
    return {
      registerForm: {
        nombre: { required },
        apellido: { required },
        fechaNacimiento: { required },
      },
    };
  },
  props: {
    formToCreate: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      submitted: false,
      registerForm: {
        nombre: "",
        apellido: "",
        fechaNacimiento: "",
      },
      months: {
        0: 'Enero',
        1: 'Febrero',
        2: 'Marzo',
        3: 'Abril',
        4: 'Mayo',
        5: 'Junio',
        6: 'Julio',
        7: 'Agosto',
        8: 'Septiembre',
        9: 'Octubre',
        10: 'Noviembre',
        11: 'Diciembre'
      }
    };
  },
  created() {
    this.initializeData();
  },
  methods: {
    initializeData() {
      this.submitted = false;
      this.registerForm = {
        nombre: "",
        apellido: "",
        fechaNacimiento: "",
      };
    },
    async save(isFormValid) {
      this.submitted = true;
      if (!isFormValid || this.repeatedName) {
        return null;
      }
      const fecha = new Date(this.registerForm.fechaNacimiento);
      this.$swal({
        icon: "success",
        title: "Datos del registro",
        text: "Something went wrong!",
        html: `<b>Nombre:</b> ${this.registerForm.nombre}
                <br />
                <b>Apellido:</b> ${this.registerForm.apellido}
                <br />
                <b>Fecha de nacimiento:</b> ${fecha.getDate()} / ${this.months[parseInt(fecha.getMonth())]} / ${fecha.getFullYear()}`,
      });
      this.initializeData();
    },
  },
};
</script>
  