<template>
  <div>
    <Navbar />
    <div class="grid">
      <div class="col-10 col-offset-1">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
export default {
  components: {
    Navbar,
  },
};
</script>
