<template>
  <div class="card">
    <Toolbar class="mt-4 pt-0 pb-0">
      <template #start>
        <h1>Pelicula: {{ film.title }}</h1>
      </template>
      <template #end>
        <Button
          label="Atras"
          icon="pi pi-arrow-left"
          class="p-button-info mr-2"
          @click="back"
        />
      </template>
    </Toolbar>
    <FilmDetail />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import FilmDetail from "@/components/FilmDetail";

export default {
  components: {
    FilmDetail,
  },
  computed: {
    ...mapState(["film"]),
  },
  async created() {
    const id = this.$route.params.id;
    await this.initFilmDetail(id);
  },
  methods: {
    ...mapActions(["initFilmDetail"]),
    back() {
      this.$router.push({ name: "films" });
    },
  },
};
</script>