<template>
  <div class="card">
    <div class="flex justify-content-center flex-wrap mt-4">
      <div
        class="
          flex
          align-items-stretch
          justify-content-center
          align-self-auto
          m-3
        "
        v-for="film in films"
        :key="film.id"
      >
        <Film :film="film" />
      </div>
    </div>
  </div>
</template>

<script>
import Film from "@/components/Film";
import { mapActions, mapState } from "vuex";

export default {
  components: {
    Film,
  },
  computed: {
    ...mapState(["films"]),
  },
  methods: {
    ...mapActions(["initFilms"]),
  },
  async created() {
    await this.initFilms();
  },
  watch: {
    films: {
      handler() {},
      deep: true,
      immediate: true,
    },
  },
};
</script>
