<template>
  <div class="grid">
    <div class="col-6 col-offset-3">
      <h1 class="text-center">Registro de usuario</h1>
      <RegisterForm />
    </div>
  </div>
</template>


<script>
import RegisterForm from "@/components/RegisterForm";
import { mapActions } from "vuex";

export default {
  components: {
    RegisterForm,
  },
  methods: {
    ...mapActions(["initFilms"]),
  },
  async created() {
    await this.initFilms();
  },
};
</script>
